* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

h2 {
	color: black;
	font-family: 'helvetica';
	text-align: center;
}
h3 {
	color: black;
	font-family: 'helvetica';
	text-align: left;
}
li {
  color: black;
  font-size: 20px;
  font-family: 'helvetica';
  margin-top: 10px;
}
